.contact-nav {
    position: sticky;
    top: calc(var(--nav-height) + var(--contact-border-size));
    display: flex;
    justify-content: space-between;

    height: var(--contact-nav-height);

    background-color: white;
}

.contact-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 5px;

    padding: 10px;
}

.contact-search-label {

}

.contact-search-input {

}