.contact-nav {
    z-index: 4;
    position: sticky;
    top: calc(var(--nav-height) + var(--contact-border-size));
    display: flex;
    justify-content: space-between;

    height: var(--contact-nav-height);

    padding: 10px 10px 0 10px;

    background-color: white;
}

.contact-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 5px;
}

.contact-search-label {
    
}

.contact-search-input {

}

.contact-nav-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.contact-sort {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-sort-id {

}

.contact-reset, .contact-sort-direction {
    text-align: right;

    cursor: pointer;
}

.contact-reset:hover, .contact-sort-direction:hover {    
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}