.contact-data {
    min-height: calc(100vh - var(--contact-header-height) - var(--contact-border-size));

    border-color: var(--neutral-1);
}

.contact-data-visible {
    padding: 10px 20px;
    border-left: var(--contact-border-size) solid var(--neutral-1);
}

.contact-data-display {
    position: sticky;
    top: var(--contact-border-size);

    padding: 10px 0;
}

.contact-data-header {
    margin-bottom: 5px;
    padding-bottom: 2px;

    text-align: center;
    font-size: 22px;

    border-bottom: 3px solid black;
}

.contact-data-field>h3, .contact-data-field>p {
    overflow: hidden;

    width: 20vw;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.contact-data-field p {
    font-weight: 200;
}
