.contact-page {

}

.contact-header {
    position: relative;

    height: var(--contact-header-height);

    background-image: linear-gradient(to bottom right, var(--blue), var(--blue), var(--light-blue), var(--light-blue));
}

.contact-welcome {
    position: absolute;
    bottom: 15px;
    left: 50px;

    color: var(--white);
}

.contact-body {
    position: relative;
    display: flex;
    justify-content: center;
}

.contact-body-border-top {
    z-index: 5;
    position: sticky;
    top: var(--nav-height);

    height: var(--contact-border-size);
    
    background-color: #EFEFEF;
}

.contact-access {

}

