.contact-list {
    display: grid;
    grid-template-columns: repeat(5, auto);

    flex-grow: 1;
}

.contact-list thead, .contact-list tbody, .contact-list tr {
    display: contents;
}

.contact-list tr:hover td {
    background-color: #EFEFEF;
}

.contact-list-filter th, .contact-list-row td {
    padding: 10px;

    text-align: left;
    font-size: 14px;

    border-bottom: 1px solid #DDD;
}

.contact-list-row td, .contact-list-row td>a {
    font-weight: 200;
}
