:root {
    --contact-nav-height: 100px;
    --contact-header-height: 250px;
    --contact-border-size: 12px;
    --contact-list-filter-height: 43px;
}

.contact-body {
    position: relative;
    display: flex;
    justify-content: center;

    width: 100%;

    background-color: white;
}

.contact-body-border-top {
    z-index: 5;
    position: sticky;
    top: -1px;

    height: calc(var(--contact-border-size) + 1px);
    
    background-color: var(--neutral-1);
}

.contact-access {
    width: 100%;
}

