.contact-nav {
    display: flex;
    justify-content: space-between;
}

.contact-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 5px;

    margin-top: 10px;
    padding: 10px;
}

.contact-search-label {

}

.contact-search-input {

}