*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--neutral-2);
}

:root {    
    /* color palette */
    --neutral-1: #EFEFEF;
	--neutral-2: #2C3333;
	--highlight-1: #F7DE1C;
	--highlight-2: #F7DE1C;

    /* filter color palette */
    --filter-1: invert(76%) sepia(100%) saturate(0%) hue-rotate(156deg) brightness(108%) contrast(106%); /* white */
    --filter-2: invert(16%) sepia(15%) saturate(346%) hue-rotate(131deg) brightness(95%) contrast(90%); /* dark grey */
    
    /* universal styles */
    --background-color: var(--neutral-2);
    --span-color: var(--highlight-2);
    --icon-filter: var(--filter-2);
}

span {
    position: relative;

    font-weight: 800;
    color: var(--span-color);
}

/* span::before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: -0.07em;
    
    content: attr(data-txt);
    font-size: calc(1em + 0.03em);
    font-weight: 800;
    color: var(--neutral-2);
} */

.secondary-span span {
    font-weight: 800;
    color: var(--highlight-2);
}

.app {
    background: var(--background-color);
}

.app-header {
    position: relative;

    height: var(--contact-header-height); 
}

.app-header-content {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;

    padding: 0 20px;
}

.app-header-welcome {
    color: white;
    font-size: max(27.5px, 2.75vw);
}

@media only screen and (max-width: 1000px) {
    .app-header-welcome {
        display: none;
    }
}

