*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    text-decoration: none;
    /* text-shadow: 0px max(2px, 0.3vw) max(15px, 1.5vw) rgba(0,0,0,0.2); */
}

:root {    
    /* color palette */
	--grey: rgba(71, 71, 71, 1);
    --light-grey: rgba(239, 239, 239, 1);
	--light-blue: rgba(0, 171, 200, 1);
	--green: rgba(162, 212, 94, 1);
	--purple: rgba(164, 90, 149, 1);
	--orange: rgba(248, 141, 42, 1);

    /* alpha color palette */
    --transparent: rgba(255, 255, 255, 0);
    --translucency-alpha: 0.1;
    --light-blue-translucent: rgba(0, 171, 200, var(--translucency-alpha));

    /* filter color palette */
    /* --filter-white: invert(76%) sepia(100%) saturate(0%) hue-rotate(156deg) brightness(108%) contrast(106%); */
    
    /* highlights */
    --highlight: var(--light-blue);
    --highlight-translucent: var(--light-blue-translucent);
    --highlight-secondary: /* var(--orange); */ white;
    
    /* universal styles */
    --background-color: var(--light-blue);
}

span {
    font-weight: 800;
    color: var(--highlight); 
}

.app {
    background: var(--background-color)
}

.app-header {
    position: relative;

    height: var(--contact-header-height); 
}

.app-header-content {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;

    padding: 0 20px;
}

.app-header-welcome {
    color: white;
}

@media only screen and (max-width: 1100px) {
    .app-header-welcome {
        display: none;
    }
}

