:root {
  --nav-icon-size: 2rem;
  --nav-indicator-spacing: calc(var(--nav-icon-size) / 8);
  --nav-border-radius: calc(var(--nav-icon-size) / 4);
  --nav-item-padding: calc(var(--nav-icon-size) / 2);
}

.nav {
  width: max-content;
  padding: 0 calc(var(--nav-item-padding) * 1.5) 1em calc(var(--nav-item-padding) * 1.5);

  background-color: white;

  color: white;

  border-radius: var(--nav-border-radius);
}

.nav-list {
  display: flex;
  padding: 0;

  margin: 0;

  list-style: none;
}

.nav-list li {
  z-index: 10;
}

.nav-list a {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--nav-item-padding);

  text-decoration: none;
}

.nav-list .nav-icon-text {
  position: absolute;
  bottom: calc(.5 * var(--nav-item-padding));

  font-size: .8em;

  transform: translateY(50%);
  opacity: 0;
  pointer-events: none;
  transition: 250ms ease-in-out;
}

.nav-list .nav-icon {
  position: relative;

  transition: 250ms ease-in-out;
}

.nav-list .nav-icon svg {
  display: block;

  width: var(--nav-icon-size);
  height: var(--nav-icon-size);
}

.nav-list .nav-selected .nav-icon-text {
  opacity: 1;

  transform: translateY(50%);
  pointer-events: all;
}

.nav-list .nav-selected .nav-icon {
  filter: var(--icon-filter);

  transform: translateY(calc(-50% - var(--nav-item-padding)));
}

.nav-list {
  position: relative;
}

.nav-indicator {
  position: absolute;
  left: calc(var(--nav-selected-index) * (var(--nav-icon-size) + var(--nav-item-padding) * 2));

  transition: 250ms ease-in-out;
}

.nav-indicator::after,
.nav-indicator::before {
  position: absolute;

  content: "";

  border-radius: 100%;
}

.nav-indicator::after {
  top: calc(-1 * var(--nav-icon-size));

  width: calc(var(--nav-icon-size) * 2);
  height: calc(var(--nav-icon-size) * 2);

  background: var(--nav-indicator-bg-color);
  transition: 0.5s;
}

/* .nav-indicator::after {

} */

.nav-indicator::before {
  top: calc(-1 * var(--nav-icon-size) - var(--nav-indicator-spacing));
  left: calc(-1 * var(--nav-indicator-spacing));

  width: calc((var(--nav-icon-size) + var(--nav-indicator-spacing)) * 2);
  height: calc((var(--nav-icon-size) + var(--nav-indicator-spacing)) * 2);

  background-color: var(--background-color);
}

.nav-corners::before {
  box-sizing: content-box;

  z-index: 1;
  position: absolute;
  top: calc(-1 * var(--nav-indicator-spacing));
  left: calc(.2 * var(--nav-indicator-spacing));

  width: var(--nav-border-radius);
  height: var(--nav-border-radius);

  background-color: white;

  content: "";

  border-top-right-radius: 100%;
  border-width: calc(var(--nav-indicator-spacing));
  border-color: var(--background-color);
  border-style: solid;
  border-bottom: none;
  border-left: none;
 
  transform: translateX(-100%);
}

.nav-corners::after {
  box-sizing: content-box;
  z-index: 1;
  position: absolute;
  top: calc(-1 * var(--nav-indicator-spacing));
  left: calc(var(--nav-icon-size) * 2 + -.2 * var(--nav-indicator-spacing));
  
  width: var(--nav-border-radius);
  height: var(--nav-border-radius);
  
  background-color: white;

  content: "";
  
  border-top-left-radius: 100%;
  border-width: calc(var(--nav-indicator-spacing));
  border-color: var(--background-color);
  border-style: solid;
  border-bottom: none;
  border-right: none;
}